body,
html {
    height: 100%;
    position: relative;
}

a {
    color: #1571ce;
}

.text-thema {
    color: #1571ce;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #1571ce;
}

.row {
    margin-right: 0;
    margin-left: 0;
}

.nav {
    margin: 0;
}

div#content {
    margin: 0;
    padding: 0;
}

.companyDeveloper {
    top: 0px;
    position: relative;
}

.companyDeveloper img {
    max-width: 95px;
    margin: 0;
}

.swiper-viewport .swiper-button-prev {
    left: 0 !important;
}

.swiper-viewport .swiper-button-next {
    right: 0 !important;
}
.swiper-viewport img{
    width:100%;
}
.zoomContainer{
    z-index: 9;
}
.gallery-products {
    display: block;
    width: 70%;
    margin: 0 auto 90px;
}
.gallery-products .zoomWrapper {
    margin: 0 auto;
    position: relative;
}
.gallery-products #gallery_09 {
    text-align: center;
    padding: 30px 0 0;
    position: relative;
    z-index: 9;
}
.gallery-products #gallery_09 .item-img {
    border: 1px solid #DDD;
    display: inline-block;
    border-radius: 5px;
    margin:5px;
}
.gallery-products #gallery_09 img {
    width: 70px !important;
}
.gallery-products #gallery_09 .item-img.active {
    border-color: #25630e;
}

@media screen and (max-width:900px){
    .gallery-products .zoomWrapper,
    .gallery-products .zoomWrapper img {
        width: 390px !important;
        height: 390px !important;
    }
}

@media screen and (max-width:500px){
    .gallery-products .zoomWrapper,
    .gallery-products .zoomWrapper img {
        width: 320px !important;
        height: 320px !important;
    }
}
.alert {
    padding: 20px 20px 20px 10px;
    font-size: 16px;
    font-family: Play;
    text-align: left;
}

.alert a {
    font-weight: bold;
}

.alert.alert-add,
.alert.alert-float {
    position: fixed;
    top: 10%;
    right: 0;
    z-index: 9;
    border-radius: 5px 0 0 5px !important;
    padding: 20px 10px;
}

.alert-stock {
    padding: 5px;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 12px;
    text-align: center;
    display: inline-block;
    position: absolute;
    bottom: 0;
}

.close {
    float: right;
    font-size: 36px;
    font-weight: 700;
    line-height: 1;
    color: #000;
    text-shadow: 0 1px 0 #fff;
    filter: alpha(opacity=20);
    opacity: .7;
}

.pagination {
    margin: 10px 0;
}

.pagination>li>a,
.pagination>li>span {
    color: #1571ce;
}

.pagination>.active>a,
.pagination>.active>a:focus,
.pagination>.active>a:hover,
.pagination>.active>span,
.pagination>.active>span:focus,
.pagination>.active>span:hover {
    background-color: #1571ce;
    border-color: #1571ce;
}

.alert-dismissable .close,
.alert-dismissible .close {
    position: relative;
    top: -10px;
    right: -10px;
}

.clear,
.clearfix {
    clear: both;
}

.img-fullwidth {
    width: 100%;
}

.image {
    margin: 0 0 20px 0;
    z-index: 9;
    position: relative;
}

.font-bold {
    font-weight: bold;
}

.form-control {
    display: block;
    width: 100%;
    padding: .9rem .75rem;
    height: auto;
    font-size: 1rem;
    line-height: 1.5;
    color: #495057;
    background: #eee;
    border: 1px solid transparent;
    border-radius: .25rem;
    transition: border-color .15s ease-in-out, box-shadow .15s ease-in-out;
    box-shadow: none;
}

.select-quantity {
    width: 65px;
    display: inline-block;
    margin: 3px;
    top: 1px;
    position: relative;
}

@media (min-width: 768px) {
    .form-horizontal .control-label {
        padding-top: 7px;
        margin-bottom: 0;
        text-align: left;
    }
}

.btn-thema {
    margin: 0;
    font-weight: bold;
    color: #FFF;
    background: #00b051;
    border: 1px solid #00b051;
    border-bottom: 3px solid rgba(10, 10, 10, 0.29);
}

.btn-thema:hover {
    background: #009846;
    color: #FFF;
    border: 1px solid #00b051;
    border-bottom: 3px solid rgba(0, 0, 0, 0.19);
}

.btn-border-thema {
    background: transparent;
    border: 2px solid #00b051;
    color: #00b051;
}

.btn-border-thema:hover {
    background: #00b051;
    color: #FFF;
}

.btn-info {
    color: #ffffff;
    text-shadow: 0 -1px 0 rgba(0, 0, 0, 0.25);
    background-color: #5bc0de;
    background-image: linear-gradient(to bottom, #5bc0de, #46b8da);
    background-repeat: repeat-x;
    border-color: #46b8da #46b8da #39a5c5;
}

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #269abc;
}


/* Missing focus and border color to overwrite bootstrap */

.btn-info:hover,
.btn-info:active,
.btn-info.active,
.btn-info.disabled,
.btn-info[disabled] {
    background-image: none;
    background-color: #269abc;
}

.input-group-btn .btn.btn-sm {
    padding: 10px 15px;
}

footer {
    margin-top: 0px;
    padding: 30px 0;
    color: #e2e2e2;
    background-color: #FFF;
    border-top: 1px solid rgba(242, 242, 242, 0.5);
    color: #888;
}

footer>.container+.container {
    margin: 30px auto;
}

footer hr {
    border-color: rgba(242, 242, 242, 1);
    box-shadow: 0px 1px 0px rgba(255, 255, 255, 0.7);
}

footer a {
    color: #888;
}

footer a:hover {
    color: #1571ce;
}

footer h5 {
    font-family: Play, sans-serif;
    font-size: 16px;
    font-weight: bold;
    color: #1571ce;
    letter-spacing: 0px;
    text-transform: uppercase;
}

footer .links-footer {
    margin: 0;
    padding: 0;
    list-style: none;
}

footer .links-footer li {
    display: list-item;
    padding: 3px 0 3px 10px;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
}

footer .links-footer li a {
    color: #666;
    font-size: 14px;
    font-family: Play;
}

footer .links-footer li:hover {
    padding: 3px 0 3px 12px;
}

footer .links-footer li a:hover,
footer .links-footer li a:focus {
    color: #1571ce;
}

.container {
    padding-right: 15px;
    padding-left: 15px;
    margin-right: auto;
    margin-left: auto;
}

@media (min-width: 768px) {
    .container {
        width: 95%;
    }
}

@media (min-width: 992px) {
    .container {
        width: 99%;
    }
}

@media (min-width: 1200px) {
    .container {
        width: 1170px;
    }
}

#logo {
    width: 100%;
}

#logo img {
    margin: 14px auto;
}

.secondMenu {
    margin: 70px 0 0 0;
}


/* search */

#search {
    margin: 0;
    border: 1px solid #DDD;
    border-radius: 5px;
}

#search input.form-control {
    border: 0;
    background: none;
    box-shadow: none;
}

#search button {
    background: none;
    border: 0;
    box-shadow: none;
    padding: 13px 20px !important;
    text-shadow: none !important;
}

#headerDesktop .btn-user {
    margin: 15px 0 0 0;
    padding: 8px 15px;
    background: none;
    display: inline-block;
    border: 0;
    box-shadow: none;
    font-size: 14px;
    color: #333;
}

#headerDesktop .btn-user a {
    color: #333;
}

#headerDesktop .btn-user i {
    font-size: 25px;
}

#cart>.btn {
    font-size: 12px;
    line-height: 18px;
    color: #333333;
    background: transparent;
    border: 0;
    box-shadow: none;
    text-shadow: none;
}

#cart>.btn>i.fa {
    font-size: 25px;
}

#cart>.btn>span#cart-total {
    position: absolute;
    width: 23px;
    height: 23px;
    line-height: 23px;
    font-weight: bold;
    background: #333;
    color: #FFF;
    border-radius: 100%;
}

#cart>.btn:hover,
#cart.open>.btn,
#cart.open>.btn:hover {
    color: #1571ce;
    background: none;
    border: 0;
}

#cart>.btn:hover~.dropdown-menu,
.dropdown-menu:hover {
    display: block;
}

#cart .dropdown-menu button.btn-xs {
    padding: 3px;
}

#cart .dropdown-menu button.btn-xs i {
    font-size: 10px;
}

nav#menu {
    border-radius: 0;
    background: #1571ce;
    border: 0;
    margin: 0;
    box-shadow: 0 0 5px #E8E8E8;
}

nav#menu .navbar-collapse {
    padding: 0;
}

@media (max-width: 767px) {
    nav#menu {
        border-radius: 4px;
    }
}

nav#menu .nav>li>a {
    padding: 15px 10px;
    color: #FFF;
    text-shadow: none;
    border-bottom: 3px solid transparent;
    margin-left: -3px;
    font-family: Play;
    font-size: 16px;
}

nav#menu .nav>li a~.dropdown-menu {
    left: -3px;
    padding: 0;
}

nav#menu .nav>li:hover>a,
nav#menu .nav>li>a:hover,
nav#menu .nav>li.open>a {
    border-bottom: 3px solid #144004;
    background-color: rgba(244, 244, 244, 0.1);
    box-shadow: 0px 3px 3px 0px rgba(20, 20, 20, 0.2);
}

#menu .dropdown-inner a {
    min-width: 160px;
    display: block;
    padding: 9px 15px;
    clear: both;
    line-height: 20px;
    border-bottom: 1px solid #F2F2F2;
    color: #4d4d4d;
    font-size: 13px;
}

#menu .dropdown-inner li:last-child a {
    border-bottom: 0;
}

nav#menu .dropdown-inner li a:hover {
    color: #FFFFFF;
    background: #1571ce;
}

nav#menu .see-all {
    color: #4d4d4d;
}

nav#menu .see-all:hover,
nav#menu .see-all:focus {
    background: #1571ce !important;
}

@media (min-width: 768px) {
    .navbar-nav {
        float: left;
        width: 100%;
        margin: 0;
        text-align: center;
    }
    .navbar-nav>li {
        float: none;
        display: inline-block;
    }
}

#menu .btn-navbar {
    font-size: 15px;
    font-stretch: expanded;
    color: #FFF;
    padding: 2px 18px;
    float: right;
    border-radius: 0;
    background-color: #1571ce;
    box-shadow: none;
    border: 1px solid rgba(0, 0, 0, 0.5);
}

#top {
    background-color: #333333;
    border-bottom: 1px solid #e2e2e2;
    padding: 10px 0;
    margin: 0 0 20px 0;
}

#top-links {
    padding: 10px 0 0;
}

#top-links ul {
    margin: 0;
}

#top .btn-link,
#top-links li,
#top-links a {
    color: #4d4d4d;
    text-shadow: none;
    font-size: 13px;
    padding: 0 10px;
}

#top .btn-link:hover,
#top-links a:hover {
    color: #1571ce;
}

#top-links li form div>button {
    color: #cecece;
    text-shadow: none;
    border: 0;
    background: none;
    line-height: 17px;
    padding: 0;
}

#top .nav .open>a,
#top .nav .open>a:focus,
#top .nav .open>a:hover {
    background: none;
    color: #FFF;
}

#top-links ul li.dropdown-contact>ul {
    display: none;
    z-index: 99;
    position: absolute;
    background: #FFF;
    box-shadow: 0 0 5px #000;
    border-radius: 3px;
    padding: 5px 10px;
    width: 240px;
    right: 0;
    top: 100%;
    list-style: none;
    text-align: center;
}

#top-links ul li.dropdown-contact:hover>ul {
    display: block;
}

#top-links ul li.dropdown-contact {
    position: relative;
}

#top-links ul li.dropdown-contact>ul li {
    display: inline-block;
    width: 100%;
    padding: 5px 0 5px 0;
}

#top-links ul li.dropdown-contact>ul li p {
    font-size: 13px;
    color: #333;
}

#top-links ul li.dropdown-contact>ul li>div {
    text-transform: uppercase;
    color: #333;
    font-weight: bold;
    font-size: 11px;
    margin: 0;
}

#top-links ul li.dropdown-contact>ul li>span {
    font-size: 19px;
    font-weight: bold;
    color: #1571ce;
}

#top-links ul li.dropdown-contact>ul li.e-mail>span {
    font-size: 13px;
}

#top-links ul li.dropdown-contact>ul li>span a {
    color: #1571ce;
}

#top-links ul li.dropdown-contact>ul li>span i {
    background: #1571ce;
    color: #FFF;
    font-size: 13px;
    width: 19px;
    height: 19px;
    line-height: 20px;
    text-align: center;
    border-radius: 5px;
}

#top-links ul li.dropdown-contact>ul li:hover>span,
#top-links ul li.dropdown-contact>ul li:hover>span a {
    color: #111;
}

#top .dropdown-menu {
    position: absolute;
    top: 100%;
    left: 0;
    z-index: 1000;
    display: none;
    float: left;
    min-width: 160px;
    padding: 4px 0;
    margin: 2px 0 0 0;
    font-size: 13px;
    text-align: left;
    list-style: none;
    background-color: #fff;
    border: 0;
    border-radius: 0;
    -webkit-box-shadow: 0 6px 12px rgba(0, 0, 0, .175);
    box-shadow: 0 6px 12px rgba(0, 0, 0, .375);
}

#top .open>.dropdown-menu {
    display: block;
}

#top-links .dropdown-menu>li>a {
    text-shadow: none;
    color: #888;
    padding: 5px 15px;
}

#top-links .dropdown-menu>li>a:hover {
    text-decoration: none;
    color: #ffffff;
    background-color: #1571ce;
    background-image: linear-gradient(to bottom, #1571ce, #1c95d8);
    background-repeat: repeat-x;
}


/* BANNER - SELOS */

.banners-selos {
    padding: 0;
    margin: 0;
}

.banners-selos h2 {
    margin: 0px;
    text-transform: uppercase;
    color: #2B2B2B;
    font-size: 15px;
    font-weight: 700;
    padding-top: 18px;
}

.banners-selos p {
    font-size: 12px;
    margin: 0;
    color: #58595b
}

.banners-selos a {
    color: #58595b;
}

.banners-selos a:hover {
    text-decoration: none;
}

.banners-selos [class^="icon-selos"] {
    color: #1571ce;
    float: left;
    width: 61px;
    height: 69px;
    padding: 0;
    border: 0;
    margin-right: 5px;
    text-align: center;
    font-size: 40px;
    line-height: 57px;
    border-radius: 100%;
    display: table;
}

.banners-selos [class^="icon-selos"] i.fa {
    font-size: 28px;
}

@media screen and (max-width:991px) {
    .banners-selos [class^="icon-selos"] {
        margin-bottom: 20px;
    }
}

.banners-selos [class^="icon-selos"]:before {
    display: table-cell;
    vertical-align: middle;
}


/* BANNER - SELOS */

.breadcrumb {
    background: none;
    border: none;
    padding: 0;
    margin: 20px 0;
}

.breadcrumb li {
    text-shadow: none;
    padding: 0;
}

.breadcrumb li:last-child:after {
    display: none;
}

.breadcrumb li:last-child {
    white-space: nowrap;
    overflow: hidden;
    text-overflow: ellipsis;
    max-width: 100%;
    top: 5px;
}

.breadcrumb li::after {
    border: 0;
    font-family: FontAwesome;
    content: "\f105";
    border: 0;
    top: auto;
    right: auto;
    width: auto;
    height: auto;
    font-size: 13px;
    transform: none;
    display: inline-block;
    position: relative;
    margin: 0px 7px;
}

.breadcrumb li a {
    color: #888;
    font-size: 12px;
}

.breadcrumb li a i {
    font-size: 12px;
}

.breadcrumb li:last-child a {
    color: #1571ce;
    font-weight: bold;
}

.heading-page {
    width: 100%;
    display: block;
    border-bottom: 4px solid #EEE;
    margin: 0 0 50px 0;
}

.heading-page h1,
#content>h1 {
    position: relative;
    text-align: left;
    width: auto;
    display: inline-block;
    font-family: Play, sans-serif;
    font-weight: bold;
    font-size: 28px !important;
    padding: 0;
    margin: 0;
    color: #141414;
}

h3.title,
.heading-page h3,
#content>h3 {
    position: relative;
    text-align: left;
    width: auto;
    display: inline-block;
    font-family: Play, sans-serif;
    font-weight: bold;
    font-size: 22px !important;
    padding: 0;
    margin: 0;
    color: #141414;
}

h4.title,
.heading-page h4,
#content>h4 {
    position: relative;
    text-align: center;
    width: 100%;
    text-transform: uppercase;
    font-weight: bold;
    font-size: 18px !important;
    padding: 0;
    margin: 20px 0 !important;
}

h3.title::after,
h4.title::after,
.heading-page h1::after,
.heading-page h3::after,
.heading-page h4::after,
#content>h1::after,
#content>h3::after,
#content>h4::after {
    content: '';
    clear: both;
    position: relative;
    width: auto;
    height: 4px;
    margin: 10px 0 0;
    bottom: -4px;
    display: block;
    background: #1571ce;
}

.product-layout {
    padding: 0 20px;
    border-right: 1px solid #E8E8E8;
    border-bottom: 1px solid #E8E8E8;
}

#product-product .alert-stock {
    position: relative;
    display: inline-block;
}

.product-layout.product-grid:nth-child(4n) {
    border-right: none;
}

#product-category .product-layout.product-grid:nth-child(3n) {
    border-right: none;
}

#product-category .product-layout.product-grid:nth-child(4n) {
    border-right: 1px solid #e8e8e8;
}

.product-layout .product-thumb {
    padding: 0 0 20px 0;
    margin: 0;
    border: 0;
}

.product-thumb h4 {
    color: #646464;
    font-family: Play, sans-serif;
    text-align: left;
    font-size: 15px;
    line-height: 20px;
    font-weight: 400;
    text-transform: none;
    letter-spacing: 0;
    min-height: 30px;
    text-overflow: ellipsis;
    overflow: hidden;
    -webkit-line-clamp: 4;
    display: -webkit-box;
    -webkit-box-orient: vertical;
}

.product-thumb h4 a {
    color: #646464;
}

.product-thumb h4 a:hover {
    color: #1571ce;
}

.product-thumb .caption {
    padding: 0px;
    min-height: 180px;
    position: relative;
}

.product-thumb .price {
    color: #444;
    width: 100%;
}

.product-thumb .price ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: left;
}

.product-thumb .price ul li {
    display: inline-block;
    padding: 0;
}

.product-thumb .price ul li span {
    font-weight: bold;
    font-size: 21px;
    letter-spacing: 0;
    margin: 0;
    padding: 0;
    color: #1571ce;
    font-family: Play, sans-serif;
}

.product-thumb .price ul li span.price-old {
    font-weight: normal;
    font-size: 14px;
    color: #888;
    text-decoration: line-through;
}

.product-thumb .button-group {
    background: none;
    border: 0;
    width: 100%;
    position: absolute;
    left: 0;
    bottom: 0;
    text-align: left;
    z-index: 15;
    opacity: 0;
    transition: all 0s ease-in-out 0s;
    transform: translateY(-2em);
    visibility: hidden;
    filter: alpha(opacity=0);
    /*transition: opacity ease-in-out 0.2s,bottom ease-out 0.2s;*/
}

.product-layout:hover .button-group {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    transition: all 0.3s ease-in-out 0s;
}

.product-thumb .button-group a {
    border: 2px solid #1571ce;
    background: rgba(255, 255, 255, 0.80);
    color: #1571ce;
    font-weight: bold;
    border-radius: 5px;
    padding: 5px 15px;
    width: auto !important;
    font-size: 12px;
    text-transform: uppercase;
    transition: All 0.3s ease;
    -webkit-transition: All 0.3s ease;
    -moz-transition: All 0.3s ease;
    -o-transition: All 0.3s ease;
    float: none;
    display: inline-block;
}

.product-thumb .button-group a:hover {
    color: #FFF;
    background: #1571ce;
    border: 2px solid #00000036;
    text-decoration: none;
    cursor: pointer;
    box-shadow: inset 0 0 12px rgba(0, 0, 0, 0.2);
}

.product-thumb .button-group button {}

.product-thumb .button-group button:hover {}

.product-thumb .rating {
    padding: 10px 0px;
    width: 100%;
    text-align: left;
}

.product-thumb .btn-wishlist {
    position: absolute;
    top: 1px;
    right: 0px;
    border-radius: 100%;
    background: #3e97ff;
    color: #FFF;
    border: 0;
    width: 26px;
    height: 26px;
    line-height: 26px;
}

.product-thumb .btn-wishlist:hover {
    background: #1571ce;
}

.product-thumb .btn-wishlist i {
    font-size: 90%;
}


/* FEATURED */


/* .module_product_related,
.module-categoryto,
.module-bestseller,
.module-featured,
.module-latest,
.module-random,
.module-special { */

.module-general {
    display: block;
    margin: 50px 0;
}

.module_product_related {
    margin: 50px 0;
}

/** BANNERS RODAPE **/

.banner_pagamentos {
    width: 100%;
    float: left;
}

.banner_pagamentos ul {
    margin: 0;
    list-style: none;
    padding: 0;
    float: left;
    width: 100%;
    text-align: left;
}

.banner_pagamentos ul li {
    width: 100px;
    margin: 5px;
    display: inline-block;
}

.banner_pagamentos ul li.parcelamento {
    width: 340px;
}


/* CUSTOM - ICONS */

.bgsocial-midia {
    background: #1571ce;
    color: #FFF;
    padding: 20px 0;
    margin: 20px 0px;
    border-bottom: 2px solid #154005;
    box-shadow: inset 0 -5px 15px #00000017;
}

.bgsocial-midia h5 {
    font-weight: bold;
    font-size: 18px;
    margin: 16px 0 !important;
    text-align: right;
    color: #FFF;
    text-transform: uppercase;
}

@media screen and (max-width:991px) {
    .bgsocial-midia h5,
    .social-icons {
        text-align: center;
    }
}

.bgsocial-midia .social-icons li a {
    font-size: 20px;
    width: 50px;
    height: 50px;
    line-height: 50px;
}

.bgsocial-midia .social-icons li a i {
    font-size: 20px;
}

.social-icons {
    margin: 0;
    padding: 0;
    list-style: none;
}

.social-icons li {
    display: inline-block;
}

.social-icons li a {
    -webkit-transition: all 0.2s ease;
    -moz-transition: all 0.2s ease;
    transition: all 0.2s ease;
    background: #fbfbfb;
    border-radius: 100%;
    display: block;
    float: left;
    margin: 0 5px;
    box-shadow: 0 0 1px rgba(255, 255, 255, 0.5) inset;
    border: 1px solid rgba(0, 0, 0, 0.05);
    height: 35px;
    line-height: 33px;
    width: 35px;
    text-align: center;
    color: #333 !important;
    text-decoration: none;
}

.social-icons li:hover a {
    background: #171717;
    color: #FFF !important;
}

.social-icons li:hover.social-icons-twitter a {
    background: #1aa9e1;
}

.social-icons li:hover.social-icons-facebook a {
    background: #3b5a9a;
}

.social-icons li:hover.social-icons-linkedin a {
    background: #0073b2;
}

.social-icons li:hover.social-icons-rss a {
    background: #ff8201;
}

.social-icons li:hover.social-icons-googleplus a {
    background: #dd4b39;
}

.social-icons li:hover.social-icons-pinterest a {
    background: #cc2127;
}

.social-icons li:hover.social-icons-youtube a {
    background: #c3191e;
}

.social-icons li:hover.social-icons-instagram a {
    background: #7c4a3a;
}

.social-icons li:hover.social-icons-skype a {
    background: #00b0f6;
}

.social-icons li:hover.social-icons-email a {
    background: #dd4b39;
}

.social-icons li:hover.social-icons-vk a {
    background: #6383a8;
}

.social-icons li:hover.social-icons-xing a {
    background: #1a7576;
}

.social-icons li:hover.social-icons-tumblr a {
    background: #304e6c;
}

.social-icons li:hover.social-icons-reddit a {
    background: #ff4107;
}


/*************************************/


/************* PRODUCT ***************/


/*************************************/

#product-product h1 {
    font-size: 24px;
    font-family: Play, sans-serif;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline-block;
}

#product-product h2.manufacturer {
    font-size: 16px;
    font-family: Play, sans-serif;
    font-weight: bold;
    margin: 0 0 5px 0;
    display: inline-block;
    color: #646464;
}

#product-product h2.manufacturer a {
    color: #646464;
}

#product-product h2.manufacturer a:hover {
    color: #1571ce;
}

#product-product h3 {
    font-size: 13px;
    font-weight: bold;
    margin: 0 0 10px 0;
    display: inline-block;
}

#product-product .rating {
    text-align: center;
    border-top: 1px solid #DDD;
    padding: 10px 0 0;
}

#product-product .product-info {
    width: 100%;
    float: left;
}

#product-product .product-info ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-product .product-info ul li {
    display: inline-block;
    padding: 0 30px 0 0;
}

#product-product .product-price {
    width: 100%;
    float: left;
    text-align: left;
    position: relative;
    margin: 10px 0;
    padding: 25px 0 10px;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
}

@media screen and (max-width: 767px) {
    #product-product .product-price {
        width: 100%;
    }
}

#product-product .product-price::before,
#product-product .product-price::after {
    /* content: ''; */
    width: 20px;
    height: 5px;
    background: #1571ce;
    display: block;
    margin: 10px auto;
}

#product-product .product-price span.price-old {
    font-size: 15px;
    color: #808080;
    letter-spacing: -0.5px;
    text-decoration: line-through;
    display: inline-block;
}

#product-product .product-price span.price-new {
    font-size: 29px;
    font-weight: bold;
    color: #1571ce;
    margin: 5px 0;
    display: inline-block;
    font-family: Play;
    letter-spacing: -0.5px;
}

#product-product .product-price .list-parcelamento li {
    padding: 5px 3px;
    font-size: 13px;
}

#product-product .product-price .list-parcelamento li b {
    color: #1571ce;
}

#product-product .product-price .banner-payment-product{
    max-width:50%;
}

#product-product .product-price ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-product .product-price ul li {
    display: list-item;
}

#product-product .product-price small {
    color: #646464;
    font-size: 13px;
}

#product-product .parcelamento-product {
    width: 100%;
    float: left;
}

#product-product .parcelamento-product ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

#product-product .product-discount {
    width: 100%;
    float: left;
    margin: 10px 0;
    padding: 10px 0;
    background: rgba(0, 0, 0, 0.02);
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.2);
    border-left: 5px solid #1571ce;
    border-right: 5px solid #1571ce;
    border-radius: 12px;
    text-align: center;
}

#product-product .product-discount ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

#product-product #button-cart {
    padding: 20px;
    margin: 0;
    position: relative;
    float: none;
    display: inline-block;
    font-size: 20px;
    letter-spacing: 0;
    text-transform: none;
    font-weight: bold;
    border-radius: 5px;
    background: #00b051;
    border: 1px solid #00b051;
    border-bottom: 3px solid rgba(10, 10, 10, 0.29);
}

#product-product #button-cart:hover {
    background: #009846;
    color: #FFF;
    border: 1px solid #00b051;
    border-bottom: 3px solid rgba(0, 0, 0, 0.19);
}

#product-product #button-cart i {
    font-size: 22px;
}

#product-product #button-cart.scrollOn {
    position: fixed;
    bottom: 10px;
    z-index: 999;
    left: 5%;
    width: 90%;
    box-shadow: 0 0 15px #0000005c;
}

#product-product .box-buy {
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
    padding-bottom: 20px;
}

#product-product .box-add-quantity {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
}

#product-product .box-add-quantity input.form-control {
    float: left;
    width: 40px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    border: 0;
}

#product-product .box-add-quantity span {
    float: right;
}

#product-product .box-add-quantity span button {
    width: 18px;
    height: 18px;
    line-height: 0;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 0 5px 0;
    background: #dcdcdc;
    color: #646464;
    font-weight: bold;
}

#product-product .box-add-quantity span button+button {
    margin: 0;
}

#product-product .box-add-quantity span button:hover {
    background: #1571ce;
    color: #FFF;
}

#product-product .heading-page {
    margin: 0;
}

#product-product .heading-page h3 {
    margin: 0;
}


/* CARROUSEL - PRODUCT */

#product-product .owl-carousel {
    height: 100%;
}

#product-product .owl-carousel .owl-dots {
    bottom: 25px;
    display: inline-block;
    width: 100%;
    text-align: center;
    position: relative;
}

#product-product .owl-carousel .owl-dots .owl-dot {
    margin: 0 5px 0 0;
}

#product-product .owl-carousel .owl-dots .owl-dot span {
    width: 10px;
    height: 10px;
    background: #E8E8E8;
    display: block;
    border-radius: 100%;
}

#product-product .owl-carousel .owl-dots .owl-dot.active span {
    background: #1571ce;
}

#product-product .owl-carousel .owl-stage-outer {
    position: relative;
    width: 100%;
    float: right;
    overflow: hidden;
    -webkit-transform: translate3d(0, 0, 0);
}

#product-product .owl-thumb-item img {
    width: 70px;
    height: auto;
}

#product-product .owl-thumbs {
    position: relative;
    top: -30px;
    left: 0px;
    display: inline-block;
    width: 100%;
    float: left;
    text-align: center;
    padding: 0;
}

#product-product .owl-carousel .owl-item {
    padding: 0 100px;
}

#product-product .owl-thumb-item {
    display: table-cell;
    background: #FFF;
    opacity: .8;
    border: 1px solid #F2F2F2;
    padding: 5px;
    border-radius: 5px;
    margin: 5px;
}

#product-product .owl-thumb-item.active {
    opacity: 1;
    border: 1px solid #DDD;
}

#product-product .product-options {
    width: 100%;
    display: inline-block;
}

#product-product .product-options .d-flex div {
    margin-right: 5px;
}

#product-product .product-options .d-flex div .btn-wishlist {
    padding: 14px;
    background: none;
    border: 0;
    box-shadow: none;
    color: #333;
}

#product-product .product-options .d-flex div .btn-wishlist:hover {
    color: #1571ce;
}

#product-product .product-options .d-flex div .btn-wishlist i {
    font-size: 26px;
}

#product-product .product-options .form-group label.control-label {
    font-size: 14px;
    font-weight: bold;
}

#product-product .nav-tabs {
    width: 100%;
    float: none;
    border: 0;
    margin: 15px 0;
}

#product-product .nav-tabs li {
    display: inline-block;
    float: none;
}

#product-product .nav-tabs li a {
    width: 100%;
    display: block;
    text-align: center;
    font-size: 12px;
    font-weight: bold;
    text-transform: uppercase;
    border-radius: 4px;
}

#product-product .nav-tabs li.active a,
#product-product .nav-tabs li.active a:focus,
#product-product .nav-tabs li.active a:hover {
    color: #555;
    cursor: default;
    background-color: #fff;
    border: 1px solid #ddd;
    border-bottom-color: #ddd;
}

#checkout-cart .panel-default {
    border: 0;
    -webkit-box-shadow: none;
    box-shadow: none;
}

#checkout-cart .panel-default>.panel-heading {
    background: none;
    border: 0;
    border-bottom: 2px solid #DDD;
}

#checkout-cart .panel-default>.panel-heading .panel-title {
    font-size: 13px;
    font-weight: bold;
    text-transform: uppercase;
}

.table-cart {
    background: #fff;
    box-shadow: 0px 3px 6px 0px rgba(100, 100, 100, 0.19);
    border: 1px solid #e4e4e4;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
}

.table-responsive.table-cart table {
    border-radius: 5px;
    margin: 0;
    padding: 0;
    border: 0;
    font-family: Play, sans-serif;
    font-size: 13px;
}

.table-responsive.table-cart table thead {
    border-radius: 5px;
    border-bottom: 1px solid #DDD;
}

.table-responsive.table-cart table tfoot {
    border-top: 1px solid #DDD;
}

.table-responsive.table-cart table tfoot td {
    background: #f2f2f2 !important;
    border-bottom: 1px solid #DDD !important;
}

.table-cart table thead td {
    background: #f2f2f2 !important;
}

.table-responsive.table-cart table thead td,
.table-responsive.table-cart table tbody td,
.table-responsive.table-cart table tfoot td {
    border: 0;
}

.table-responsive.table-cart table tfoot td {
    padding: 20px 10px;
}

.table-responsive.table-cart table tfoot td label {
    font-weight: bold;
}

.table-responsive.table-cart table tfoot td input.form-control {
    background: #FFF;
    border: 1px solid #DDD;
    border-radius: 5px;
    margin: 0 5px;
}

.table-responsive.table-cart table thead td {
    font-size: 12px;
    font-weight: bold;
    font-family: Play, sans-serif;
    padding: 15px 10px;
}

.table-responsive.table-cart table tbody td .cart-price {
    font-weight: bold;
    color: #1571ce;
    font-size: 15px;
    padding: 18px 0;
    display: block;
}

.table-responsive.table-cart .box-add-quantity {
    background: #f0f0f0;
    padding: 5px;
    border-radius: 5px;
    float: left;
    margin-top: 10px;
}

.table-responsive.table-cart .box-add-quantity input.form-control {
    float: left;
    width: 40px;
    height: 38px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    border-radius: 0;
    border: 0;
}

.table-responsive.table-cart .box-add-quantity span {
    float: right;
}

.table-responsive.table-cart .box-add-quantity span button {
    width: 18px;
    height: 18px;
    line-height: 0;
    text-align: center;
    padding: 0;
    display: block;
    margin: 0 0 5px 0;
    background: #dcdcdc;
    color: #646464;
    font-weight: bold;
}

.table-responsive.table-cart .box-add-quantity span button+button {
    margin: 0;
}

.table-responsive.table-cart .box-add-quantity span button:hover {
    background: #1571ce;
    color: #FFF;
}

#product-category .list-categories {
    width: 100%;
    float: left;
    margin: 20px 0;
    padding: 5px 0;
}

#product-category .list-categories ul {
    margin: 0;
    padding: 0;
    list-style: none;
    text-align: center;
}

#product-category .list-categories ul li {
    display: inline-block;
}

#product-category .list-categories ul li a {
    padding: 5px 10px;
    border: 1px solid #DDD;
    margin: 0px 2px 10px;
    display: inline-block;
}

#product-category .list-categories ul li a:hover {
    background: #1571ce;
    color: #FFF;
    border: 1px solid rgba(0, 0, 0, 0.2);
}

.product-list .product-thumb .button-group {
    border: 0;
}

#product-manufacturer .category-options,
#product-search .category-options,
#product-category .category-options {
    width: 100%;
    float: left;
    margin: 0 0 40px 0;
    display: flex;
    align-items: flex-end;
    justify-content: space-between;
}

#product-search .category-options>div,
#product-manufacturer .category-options>div,
#product-category .category-options>div {
    display: table-cell;
}

#product-manufacturer .product-list .product-thumb,
#product-search .product-list .product-thumb,
#product-category .product-list .product-thumb {
    float: left;
    width: 100%;
    margin: 0 0 20px 0;
    padding: 20px;
}

#product-manufacturer .product-list .product-thumb h4,
#product-search .product-list .product-thumb h4,
#product-category .product-list .product-thumb h4 {
    font-size: 14px;
}

#product-manufacturer .product-list .product-thumb .image,
#product-search .product-list .product-thumb .image,
#product-category .product-list .product-thumb .image {
    float: left;
    width: 180px;
}

#product-manufacturer .product-list .product-thumb .caption,
#product-search .product-list .product-thumb .caption,
#product-category .product-list .product-thumb .caption {
    float: left;
    width: calc(100% - 200px);
    margin: 0;
}

#product-manufacturer .product-list .product-thumb .price ul,
#product-search .product-list .product-thumb .price ul,
#product-category .product-list .product-thumb .price ul {
    margin: 0 auto;
    float: none;
    width: 90%;
}

#product-manufacturer .product-list .product-thumb .button-group,
#product-search .product-list .product-thumb .button-group,
#product-category .product-list .product-thumb .button-group {
    opacity: 1;
}

@media screen and (max-width:890px) {
    #product-manufacturer .category-options,
    #product-search .category-options,
    #product-category .category-options {
        display: inline-block;
    }
    #product-manufacturer .category-options>div,
    #product-search .category-options>div,
    #product-category .category-options>div {
        display: inline-block;
    }
    #product-manufacturer .category-options>div+div,
    #product-search .category-options>div+div,
    #product-category .category-options>div+div {
        float: left !important;
    }
    #product-manufacturer .category-options>div+div+div,
    #product-search .category-options>div+div+div,
    #product-category .category-options>div+div+div {
        width: 100%;
        margin: 10px 0 0 0;
    }
}

@media screen and (max-width:550px) {
    #product-manufacturer .product-list .product-thumb .image,
    #product-search .product-list .product-thumb .image,
    #product-category .product-list .product-thumb .image {
        float: left;
        width: 100%;
    }
    #product-manufacturer .product-list .product-thumb .caption,
    #product-search .product-list .product-thumb .caption,
    #product-category .product-list .product-thumb .caption {
        width: 100%;
    }
}

#product-product .form-avatares input {
    display: none;
}

#product-product .form-avatares .review-avatar {
    width: 60px;
    border: 2px solid #FFF;
    box-shadow: 1px 1px 5px #0000001f;
    border-radius: 5px;
    margin: 5px;
    cursor: pointer;
}

#product-product .form-avatares input:checked~.review-avatar {
    border: 4px solid #1571ce;
}

.boxReviewsClients {
    float: left;
    width: 100%;
    padding: 50px 0;
}

.boxReviewsClients ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.boxReviewsClients>ul>li {
    display: inline-block;
    float: left;
    padding: 15px;
}

.boxReviewsClients>ul>li div.image {
    background: #FFF;
    padding: 5px;
    border-radius: 10px;
    margin: 10px 20px;
}

.boxReviewsClients>ul>li div.image img {
    width: 100%;
    display: block;
    margin: 0 auto;
}

.boxReviewsClients>ul>li div.conteudo {
    position: relative;
    float: left;
    width: 100%;
    min-height: 250px;
    box-shadow: 2px 2px 8px rgba(0, 0, 0, 0.2);
    background: #FFF;
    border-radius: 5px;
    margin: 50px 0 0 0;
    padding: 0 10px 10px;
    word-wrap: break-word;
}

.boxReviewsClients>ul>li div.conteudo div.avatar {
    background: #FFF;
    width: 70px;
    height: 70px;
    border-radius: 100%;
    padding: 4px;
    top: -30px;
    position: relative;
    margin: 0 auto;
}

.boxReviewsClients>ul>li div.conteudo h2 {
    margin: 0 0 0 0;
    padding: 0 30px;
    font-size: 14px;
    font-weight: bold;
    width: 100%;
    text-align: center;
    color: #111;
}

.boxReviewsClients>ul>li div.conteudo p {
    font-size: 13px;
    text-align: center;
    float: left;
    width: 100%;
    padding: 0;
    margin: 0;
}

.boxReviewsClients>ul>li div.conteudo div.rating {
    width: 100%;
    display: inline-block;
    text-align: center;
    margin: 0 0 10px 0;
}

.boxReviewsClients>ul>li div.conteudo div.avatar img {
    border-radius: 100%;
    width: 100%;
    height: 100%;
    position: relative;
    margin: 0 auto;
    display: block;
}

.boxReviewsClients>ul>li div.conteudo span.date {
    text-align: center;
    width: 100%;
    float: left;
    margin: 10px 0 0 0;
}

.boxReviewsClients>ul>li div.conteudo div.ratingReviewsClients .star-rating {
    position: relative;
    margin: 0 auto;
    font-size: 12px;
    display: inline-block;
    float: none;
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients {
    float: left;
    width: 100%;
    text-align: center;
    margin: -30px 0 0 0;
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating:after {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
    font-family: 'FontAwesome';
    position: relative;
    color: #878787;
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating:before {
    font-family: 'FontAwesome';
    color: #ff8f00;
    position: absolute;
    left: 0;
    top: 0;
    z-index: 9;
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-1:before {
    content: '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-2:before {
    content: '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-3:before {
    content: '\f005' ' ' '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-4:before {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
}

.boxReviewsClients ul li div.conteudo div.ratingReviewsClients .star-rating.star-5:before {
    content: '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005' ' ' '\f005';
}

@media screen and (max-width:767px) {
    .boxReviewsClients ul li {
        width: 100%;
    }
    .boxReviewsClients ul li div.conteudo {
        min-height: 100%;
        width: 100%;
        padding: 0 0 30px 0;
    }
}

.checkbox label,
.radio label {
    padding-left: 25px;
    margin-bottom: 5px;
    position: relative;
}

.custom-control {
    position: relative;
    display: block;
    min-height: 1.5rem;
}

.custom-control-inline {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
    margin-right: 1rem;
}

.custom-control-input {
    position: absolute;
    z-index: -1;
    opacity: 0;
}

.custom-control-input:checked~.custom-control-label::before {
    color: #fff;
    background-color: #007bff;
}

.custom-control-input:focus~.custom-control-label::before {
    box-shadow: 0 0 0 1px #fff, 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-control-input:active~.custom-control-label::before {
    color: #fff;
    background-color: #b3d7ff;
}

.custom-control-input:disabled~.custom-control-label {
    color: #6c757d;
}

.custom-control-input:disabled~.custom-control-label::before {
    background-color: #e9ecef;
}

.custom-control-label {
    margin-bottom: 0;
}

.custom-control-label::before {
    position: relative;
    top: 0.25rem;
    left: 0;
    display: inline-block;
    width: 1.5rem;
    height: 1.5rem;
    pointer-events: none;
    content: "";
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    background-color: #dee2e6;
}

.custom-control-label::after {
    position: absolute;
    top: 0.24rem;
    left: 25px;
    display: inline-block;
    width: 1rem;
    height: 1rem;
    content: "";
    background-repeat: no-repeat;
    background-position: center center;
    background-size: 50% 50%;
}

.custom-checkbox .custom-control-label::before {
    border-radius: 0.25rem;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
}

.custom-checkbox .custom-control-input:checked~.custom-control-label::after {
    font-family: FontAwesome;
    content: "\f00c";
    color: #FFF;
    font-size: 8px;
    margin: -2px 3px 0 3px;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::before {
    background-color: #007bff;
}

.custom-checkbox .custom-control-input:indeterminate~.custom-control-label::after {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 4'%3E%3Cpath stroke='%23fff' d='M0 2h4'/%3E%3C/svg%3E");
}

.custom-checkbox .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

.custom-checkbox .custom-control-input:disabled:indeterminate~.custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

.custom-radio .custom-control-label::before {
    border-radius: 50%;
}

.custom-radio .custom-control-input:checked~.custom-control-label::before {
    background-color: #007bff;
}

.custom-radio .custom-control-input:checked~.custom-control-label::after {
    width: 0.7rem;
    height: 0.7rem;
    background: #FFF;
    display: inline-block;
    margin: 4px;
    border-radius: 100%;
}

.custom-radio .custom-control-input:disabled:checked~.custom-control-label::before {
    background-color: rgba(0, 123, 255, 0.5);
}

.custom-select {
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 1.75rem 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    vertical-align: middle;
    background: #fff url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 4 5'%3E%3Cpath fill='%23343a40' d='M2 0L0 2h4zm0 5L0 3h4z'/%3E%3C/svg%3E") no-repeat right 0.75rem center;
    background-size: 8px 10px;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
}

.custom-select:focus {
    border-color: #80bdff;
    outline: 0;
    box-shadow: inset 0 1px 2px rgba(0, 0, 0, 0.075), 0 0 5px rgba(128, 189, 255, 0.5);
}

.custom-select:focus::-ms-value {
    color: #495057;
    background-color: #fff;
}

.custom-select[multiple],
.custom-select[size]:not([size="1"]) {
    height: auto;
    padding-right: 0.75rem;
    background-image: none;
}

.custom-select:disabled {
    color: #6c757d;
    background-color: #e9ecef;
}

.custom-select::-ms-expand {
    opacity: 0;
}

.custom-select-sm {
    height: calc(1.8125rem + 2px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 75%;
}

.custom-select-lg {
    height: calc(2.875rem + 2px);
    padding-top: 0.375rem;
    padding-bottom: 0.375rem;
    font-size: 125%;
}

.custom-file {
    position: relative;
    display: inline-block;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin-bottom: 0;
}

.custom-file-input {
    position: relative;
    z-index: 2;
    width: 100%;
    height: calc(2.25rem + 2px);
    margin: 0;
    opacity: 0;
}

.custom-file-input:focus~.custom-file-control {
    border-color: #80bdff;
    box-shadow: 0 0 0 0.2rem rgba(0, 123, 255, 0.25);
}

.custom-file-input:focus~.custom-file-control::before {
    border-color: #80bdff;
}

.custom-file-input:lang(en)~.custom-file-label::after {
    content: "Browse";
}

.custom-file-label {
    position: absolute;
    top: 0;
    right: 0;
    left: 0;
    z-index: 1;
    height: calc(2.25rem + 2px);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    background-color: #fff;
    border: 1px solid #ced4da;
    border-radius: 0.25rem;
}

.custom-file-label::after {
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;
    z-index: 3;
    display: block;
    height: calc(calc(2.25rem + 2px) - 1px * 2);
    padding: 0.375rem 0.75rem;
    line-height: 1.5;
    color: #495057;
    content: "Browse";
    background-color: #e9ecef;
    border-left: 1px solid #ced4da;
    border-radius: 0 0.25rem 0.25rem 0;
}

.ulRadiosCss {
    list-style: none;
    margin: 0;
    padding: 0;
}

.ulRadiosCss .radio {
    float: none;
    padding: 0;
    margin: 0 5px 5px 0;
    display: inline-block;
}

.ulRadiosCss .radio label {
    margin: 0;
    padding: 0;
}

.ulRadiosCss:after {
    content: "";
    clear: both;
}

.ulRadiosCss li {
    float: none;
    display: inline-block;
    /* width: 100%; */
}

.ulRadiosCss li div input {
    display: none !important;
}


/* style label */

.ulRadiosCss li input:empty~label {
    position: relative;
    float: left;
    line-height: 100%;
    cursor: pointer;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.ulRadiosCss li input~div {
    color: #888;
    font-size: 14px;
    padding: 6px 16px;
    border: 1px solid #D1D3D4;
    background: #f9f9f9;
    border-radius: 3px;
}

.ulRadiosCss li input:hover:not(:checked)~div {
    color: #888;
}


/* radio focus */

.ulRadiosCss li input:focus~div:before {
    box-shadow: 0 0 0 3px #999;
}

.ulRadiosCss li div label .label {
    position: absolute;
    top: -2px;
    right: -6px;
    padding: 5px;
    font-size: 8px;
}

.ulRadiosCss li input:checked~label {
    color: #FFF;
    background: #007bff;
    border: 1px solid rgba(0, 0, 0, 0.1);
}

.ulRadiosCss li input:hover:not(:checked)~div {
    border: 1px solid #007bff;
}

.ulRadiosCss li input:checked~div {
    color: #FFF;
    background: #007bff;
    border: 1px solid #000;
}

.ulRadiosCss li input~div::before {
    content: "\f00c";
    font-family: FontAwesome;
    opacity: 0;
    display:none;
}

.ulRadiosCss li input:checked~div::before {
    opacity: 1;
}

.ratingForm {
    width: 100%;
    float: left;
}

.ratingForm input[type=radio] {
    display: none;
}

.ratingForm input[type=radio]:checked~i.fa {
    color: #1571ce;
}

.ratingForm input[type=radio]:checked~i.fa:before {
    content: "\f005";
}

.addthis_toolbox {
    border-top: 1px solid #E6E6E6;
    border-bottom: 1px solid #E6E6E6;
    padding: 15px 0 5px;
    margin-bottom: 15px;
}

.information-information #content p {
    font-size: 17px;
}

.account-account .list-unstyled li {
    display: inline-block;
    padding: 0;
    margin-right: 10px;
}

.account-account .list-unstyled li a {
    padding: 5px 10px;
    display: inline-block;
    border: 1px solid #F2F2F2;
    border-radius: 5px;
}

.account-account .list-unstyled li a:hover {
    background: #1571ce;
    color: #FFF;
    border: 1px solid #00000059;
}

.tab-content table {
    width: 100% !important;
}

.tab-content th {
    width: 50% !important;
}


/* Page - Login */

div#account-login .box-login {}

div#account-login .box-login h2 {
    text-align: center;
    font-weight: bold;
    font-size: 32px;
}

div#account-login .box-login p {
    text-align: center;
    font-weight: bold;
}

div#account-register form .form-control,
div#account-login .box-login form .form-control {
    background: #eee;
    border: 1px solid transparent;
    box-shadow: none;
    height: 40px;
    font-size: 14px;
    padding: 0 20px;
}

.has-error .form-control {
    border: 1px solid #a94442 !important;
}


/* Page - Cart-new */

.alert-cart {
    border: 1px solid #F2F2F2;
    margin: 10px;
}

.cart-new {
    background: #FFF;
    min-height: 100px;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
}

.cart-new [class*="col-"] {
    padding: 0 5px;
}

.cart-new .item {
    border-bottom: 1px solid #F2F2F2;
    padding: 10px 0 10px 0;
    margin: 0;
}

.cart-new .item:hover {
    background: #F9F9F9;
}

.cart-new .item .dropdown .dropdown-item {
    width: 100%;
    display: inline-block;
    padding: 5px;
    font-size: 13px;
    color: #666;
}

.cart-new .item .dropdown .dropdown-item:hover {
    color: #76ae99;
}

.cart-resume {
    background: #FFF;
    padding: 10px;
    border-radius: 5px;
    margin: 0 0 10px 0;
    display: inline-block;
}

ul.cart-resume,
.cart-resume ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.cart-resume li {
    padding: 5px 0;
}

.cart-resume ul li {
    display: list-item;
    font-size: 14px;
    padding: 11px 5px;
}

.checkout-cart footer {
    border-top: 1px solid rgba(242, 242, 242, 0.5);
    border-bottom: 1px solid rgba(242, 242, 242, 0.5);
}

.checkout-cart footer #copyright a {
    top: 0 !important;
}

.checkout-cart footer #description,
.checkout-cart footer .bgsocial-midia {
    display: none;
}

#checkout-cart .panel-group {
    margin-bottom: 0;
}

#checkout-cart .panel-default {
    border-radius: 5px;
}

#checkout-cart .panel-default>.panel-heading {
    border: 0;
}

#cart .dropdown-menu {
    min-width: 220px;
    right: 0;
    left: auto;
}

.box-qta-cart {
    text-align: center;
    padding: 5px;
}

.box-qta-cart #minus,
.box-qta-cart #plus {
    width: 20px;
    height: 20px;
    line-height: 0px;
    padding: 2px;
    display: block;
    margin: 0;
    border-radius: 0;
}

.box-qta-cart .input-quantity {
    height: 40px;
    text-align: center;
}

.box-qta-cart .button-refresh-cart {
    height: 40px;
    border-radius: 0;
}

#common-success #content {
    text-align: center;
}

#common-success #content p {
    font-size: 17px;
    line-height: 27px;
}


/* Header Custom */

.linkHeaders {}

.linkHeaders ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.linkHeaders ul li {
    display: inline-block;
    position: relative;
}

.linkHeaders>ul>li>a {
    border: 1px solid transparent;
    border-radius: 5px;
    padding: 5px;
    display: block;
    /*min-width: 170px;*/
}

.linkHeaders>ul>li:hover>a {
    border: 1px solid #efefef;
    box-shadow: 0px 1px 3px 0px rgba(160, 160, 160, 0.28);
}

.linkHeaders ul li div.icon {
    float: left;
    width: 40px;
    text-align: center;
}

.linkHeaders ul li div.icon i {
    font-size: 28px;
    width: 35px;
    color: #1571ce;
}

.linkHeaders ul li div.content {
    font-family: Play;
    line-height: 16px;
    font-size: 13px;
    color: #646464;
}

.linkHeaders ul li div.content p {
    margin: 0;
}

.linkHeaders ul li div.sub-menu {
    position: absolute;
    z-index: 55;
    transition: all 0s ease-in-out 0s;
    transform: translateY(-2em);
    visibility: hidden;
    border-radius: 5px;
    opacity: 0;
    background: #fff;
    border: 1px solid #efefef;
    box-shadow: 0px 2px 6px 0px rgba(160, 160, 160, 0.25);
    padding: 20px;
    width: max-content;
}

.linkHeaders ul li#center-user div.sub-menu {
    min-width: 400px;
    right: 0;
    padding: 20px 10px;
}

.linkHeaders ul li:hover div.sub-menu {
    visibility: visible;
    opacity: 1;
    transform: translateY(0);
    transition-delay: 0s, 0s, 0.3s;
    transition: all 0.3s ease-in-out 0s;
}

.linkHeaders ul li div.sub-menu ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

ul.linksAtendimento {
    margin: 0;
    padding: 0 0 0 10px;
    list-style: none;
}

.linkHeaders ul li div.sub-menu ul li,
ul.linksAtendimento li {
    display: list-item;
    padding: 0 0 15px 0;
    font-family: Play;
    font-size: 14px;
}

.linkHeaders ul li div.sub-menu ul li:last-child,
ul.linksAtendimento li:last-child {
    padding: 0;
}

.linkHeaders ul li div.sub-menu ul li a,
ul.linksAtendimento li a {
    color: #141414;
}

.linkHeaders ul li div.sub-menu ul li a:hover,
ul.linksAtendimento li a:hover {
    color: #1571ce;
}

.linkHeaders ul li div.sub-menu ul li.divider {
    border-top: 1px solid #eee;
    padding: 0 0 15px;
}


/*.linkHeaders ul li#center-user a {
min-width: 140px;
}*/

.linkHeaders ul li#center-user div.sub-menu div.icon {
    width: 100%;
    padding: 0 0 20px 0;
}

.linkHeaders ul li#center-user div.sub-menu div.icon i {
    border: 2px solid #666;
    border-radius: 100%;
    width: 50px;
    height: 50px;
    line-height: 45px;
}

.linkHeaders ul li#center-user div.sub-menu div.content h4 {
    font-size: 18px;
    color: #141414;
}

.linkHeaders ul li#center-user div.sub-menu>div.d-flex>div.flex-fill,
.linkHeaders ul li#center-user div.sub-menu>div.d-flex>div.flex-grow-1 {
    border-right: 1px solid #eee;
    margin: 0 10px;
    padding: 10px 0;
}

.linkHeaders ul li#center-user div.sub-menu>div.d-flex>div.flex-fill+div.flex-fill {
    border-right: 0;
}

.linkHeaders ul li#center-user div.sub-menu form {
    min-width: 180px;
}

.linkHeaders ul li#center-user div.sub-menu form input {
    width: 120px;
    display: inline-block;
    border-radius: 5px;
}

.linkHeaders ul li#center-user div.sub-menu form input+button {
    width: 40px;
    display: inline-block;
    padding: 8px;
}

.linkHeaders ul li#cart div.sub-menu {
    min-width: 400px;
    max-width: 500px;
    right: 0;
    padding: 20px 10px;
}

.linkHeaders ul li div.icon span#cart-total {
    position: absolute;
    top: 0;
    left: 0;
    background: #1571ce;
    border: 2px solid #FFF;
    width: 22px;
    height: 22px;
    line-height: 18px;
    border-radius: 100%;
    color: #1571ce;
    font-weight: bold;
    font-size: 11px;
    text-align: center;
}

.headerbuttonsfloat {
    position: fixed;
    bottom: 20px;
    left: 0;
    z-index: 55;
}

.headerbuttonsfloat ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.headerbuttonsfloat ul li {
    display: list-item;
    padding: 10px;
}

.headerbuttonsfloat ul li a {
    width: 50px;
    height: 50px;
    line-height: 47px;
    border-radius: 100%;
    display: block;
    background: #1571ce;
    border: 2px solid #FFF;
    color: #FFF;
    font-size: 25px;
    text-align: center;
}

.headerbuttonsfloat ul li a i {
    font-size: 24px;
}

.headerbuttonsfloat ul li ul {
    position: absolute;
    z-index: 55;
    transition: all 0s ease-in-out 0s;
    transform: translatex(-2em);
    visibility: hidden;
    border-radius: 5px;
    opacity: 0;
    width: max-content;
}

.headerbuttonsfloat ul li:hover ul {
    visibility: visible;
    opacity: 1;
    transform: translateX(0);
    transition-delay: 0s, 0s, 0.3s;
    transition: all 0.3s ease-in-out 0s;
    bottom: 70px;
}

.headerbuttonsfloat ul li ul li {
    padding: 0;
}

.headerbuttonsfloat ul li ul li a {
    width: 40px;
    height: 40px;
    line-height: 32px;
    margin: 5px 7px;
    transition: 0.3s all ease;
}

.headerbuttonsfloat ul li ul li a.facebook {
    background: #3b5a9a;
}

.headerbuttonsfloat ul li ul li a.facebook-messenger {
    background: #0084ff;
}

.headerbuttonsfloat ul li ul li a.whatsapp {
    background: #3adb76;
}

.headerbuttonsfloat ul li ul li a.instagram {
    background: #ea1a21;
}

.headerbuttonsfloat ul li ul li a.comment {
    background: #ed4035;
}

.headerbuttonsfloat ul li ul li a:hover {
    transform: scale(1.1);
}

.headerbuttonsfloat ul li ul li a i {
    font-size: 19px;
}

.box-shipping {
    padding: 10px 20px;
    font-family: Play, sans-serif;
    text-align: center;
    width: 100%;
}
.box-shipping.free{
    padding: 5px 20px;
    font-family: Play, sans-serif;
    font-size: 13px;
    font-weight: 600;
    text-transform: uppercase;
    text-align: center;
    width: auto;
    color: #000000;
    border: 2px solid #007bff;
    display: inline-block;
    margin: 10px 0;
}

.box-shipping label {
    font-weight: bold;
    padding: 0 8px;
    display: inline-block;
    font-size: 14px;
    top: 4px;
    position: relative;
}

.box-shipping table {
    margin: 0;
    text-align: left;
    font-size: 13px;
}

.box-newsletter {
    position: relative;
    margin: 10px 0 0 0;
    background: #141414;
    color: #FFF;
    padding: 20px 0;
    border-bottom: 2px solid #154005;
    box-shadow: inset 0 -5px 15px #00000017;
}

.box-newsletter div#msgRetorno {
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    background: #00000059;
    left: 0;
    z-index: 999;
}

.box-newsletter div#msgRetorno .alert {
    width: 50%;
    margin: 10% auto;
    box-shadow: 0 0 15px #00000052;
}

.box-newsletter h3 {
    margin: 0;
    font-family: Play, sans-serif;
    color: #FFF;
    font-size: 22px;
    letter-spacing: 0;
}

.box-newsletter h3 i.fa {
    font-size: 22px;
    margin: 0 7px 0 0;
}

.box-newsletter .form-control {
    background: #FFF;
    border-radius: 10px 0 0 10px;
}

.box-newsletter .input-group-btn .btn.btn-sm {
    border-bottom: 0;
    padding: 10px 15px;
}

.box-newsletter .input-group-btn .btn.btn-sm#btnNewsletter {
    background: #1571ce;
    border: 0;
}

.box-newsletter .input-group-btn .btn.btn-sm#btnNewsletter:hover {
    background: #014385;
}

.menuAccordion li div.menucollapse {
    display: none;
}

.column-list-categories ul li.active div.menucollapse {
    display: block;
}

.column-list-categories,
.column-list-account {
    color: #1571ce;
    padding: 3px 18px;
    background: #fff;
    -webkit-border-radius: 5px;
    -moz-border-radius: 5px;
    border-radius: 5px;
    border: 1px solid rgb(235, 235, 235);
    box-shadow: 0px 3px 8px 0px rgba(137, 137, 137, 0.14);
}

.column-list-categories h2,
.column-list-account h2 {
    color: #1571ce;
    font-size: 20px;
    font-family: Play, sans-serif;
    text-transform: uppercase;
}

.column-list-categories ul,
.column-list-account ul {
    margin: 0;
    padding: 0;
    list-style: none;
}

.column-list-categories ul li,
.column-list-account ul li {
    display: list-item;
}

.column-list-categories ul li a,
.column-list-account ul li a {
    padding: 10px 10px;
    border-bottom: 1px solid #EEE;
    font-size: 16px;
    color: #1571ce;
    display: block;
    transition: all 0.2s ease;
}

.column-list-categories ul li:last-child a,
.column-list-account ul li:last-child a {
    border: 0;
}

.column-list-categories ul li>a,
.column-list-account ul li>a {
    font-family: Play;
    font-weight: 600;
    font-size: 15px;
    position: relative;
}

.column-list-categories ul li>a:hover,
.column-list-account ul li>a:hover {
    padding-left: 15px;
}

.column-list-categories ul li>a i.fa,
.column-list-account ul li>a i.fa {
    background: #1571ce;
    color: #000;
    border-radius: 5px;
    width: 15px;
    height: 15px;
    position: absolute;
    text-align: center;
    right: 0;
}

.column-list-categories ul li div,
.column-list-account ul li div {
    padding-left: 10px;
}

.column-list-categories ul li div a,
.column-list-account ul li div a {
    font-family: Play;
    font-size: 13px;
}

.column-list-categories ul li div a.active,
.column-list-categories ul li div a:hover,
.column-list-account ul li div a.active,
.column-list-account ul li div a:hover {
    padding-left: 15px;
    font-weight: bold;
}

header#headerDesktop {
    padding: 20px 0;
}

.secondMenu {
    margin: 10px 0 0 0;
}

.header-desktop {
    margin-bottom: 0px;
}

.badge_parcelamento{
    border: 2px solid #1571ce;
    display: inline-block;
    padding: 5px 15px;
    margin: 15px 0 5px;
    color: #1571ce;
}

.header-mobile #top{
    background: #1571ce !important;
}

.header-mobile .box-search #search .btn{
    background: #1571ce !important;
}

.footer-mobile footer{
    background: #1571ce !important;     
}

.footer-mobile footer a:hover{
    color:#1571ce !important;
}

.dropdown-menu{
    min-width:200px;
}
#menu .dropdown-inner,
#menu .dropdown-inner ul{
    display:block;
}